html {
    background-color: #05353f;
    color: #ffffff;
    font-family: cursive;
    overflow-x: hidden;
    height: 100vh;
}

body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-image: url('img/bg3.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#header {
    padding: 0 10px;
    font-size: 22px;
}

#header h1 {
    margin: 0;
}

#content {
    display: flex;
}

@media screen and (max-width: 700px) {
    #content {
        flex-direction: column;
    }
}

#left,
#center,
#right {
    padding: 10px;
}

#left {
    font-size: 11px;
}

#right {
    font-size: 13px;
    text-align: right;
}

#center {
    color: white;
}

canvas {
    background-color: white;
}

#msg {
    text-align: center;
}

.sliderClass {
    width: 65%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    background-color: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.buttonClass {
    padding: 10px 20px;
    font-size: 23px;
    background-color: #ddd;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Lato', sans-serif;
}

.buttonClass:hover {
    background-color: #709e79;
}

.bgImg {
    background-image: url('img/bg3.png');
    /* Replace 'path_to_your_image.jpg' with your image file's path */
    background-size: cover;
    /* Adjusts the size of the background image */
    /* You can add more background properties here like position, repeat, etc. */
}

.generation-container {
    background-color: #6f8266;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
}